@mixin flexCenterAlign($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
}

@mixin flexCenterJustify($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
}

.single-project-container {
    .tech-logo {
        height: 40px;
        width: auto;
    }
    @include flexCenterJustify(row);
    flex-wrap: wrap;
    margin: 0 10%;
    height: 80vh;

    .sp-technologies {
        p {
            font-family: "Comfortaa", cursive;
        }
        @include flexCenterAlign(row);

        justify-content: space-around;
        span {
            margin-top: 3px;
            text-align: center;
        }
    }
    .sp-links {
        @include flexCenterAlign(row);
        justify-content: space-evenly;
    }
    .sp-description-container,
    .sp-image-container {
        padding-top: 1%;
        .sp-description {
            font-size: 1.3rem;
        }
        @include flexCenterAlign(column);
    }
}

@media only screen and (min-width: 1000px) {
    .single-project-container {
        .sp-description-container {
            .sp-description {
                width: 75%;
                height: 70%;
            }
            .sp-technologies {
                height: 20%;
                width: 80%;
            }

            width: 50%;
        }
        .sp-image-container {
            width: 50%;
            .sp-image {
                width: 100%;
                height: 70%;
                img {
                    max-height: 400px;
                    border-radius: 5px;
                    object-fit: contain;
                    width: 100%;
                }
            }

            .sp-links {
                margin-top: 20px;
                width: 50%;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .single-project-container {
        padding-bottom: 5%;
        .sp-description-container {
            .sp-description {
                width: 75%;
                height: 70%;
                font-size: 1rem;
            }
            .sp-technologies {
                height: 20%;
                width: 80%;
            }

            width: 100%;
        }
        .sp-image-container {
            width: 75%;
            .sp-image {
                width: 100%;
                height: 75%;
                img {
                    max-height: 400px;
                    border-radius: 5px;
                    object-fit: contain;
                    width: 100%;
                }
            }

            .sp-links {
                margin-top: 20px;
                width: 50%;
            }
        }
    }
}

@media only screen and (max-height: 900px) {
    .single-project-container {
        .sp-image-container {
            .sp-image {
                img {
                    max-height: 300px;
                }
            }
        }
    }
}

@media only screen and (max-height: 700px) {
    .single-project-container {
        .sp-image-container {
            .sp-image {
                img {
                    max-height: 250px;
                }
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .single-project-container {
        height: auto;
        .sp-description-container {
            .sp-technologies {
                flex-wrap: wrap;
            }
            .sp-description {
                height: auto;
            }
        }
    }
}
