$light-blue: rgba(72, 199, 235, 1);
$dark-blue: #00a6d4;

.contact-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
}
.contact-item {
    margin: 1.5rem;
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    .contact-img {
        margin: 10px;
        width: 4rem;
        height: auto;
    }

    .contact-link {
        text-decoration: none;
        color: $dark-blue;
        font-size: 1.5rem;
    }

    .contact-text {
        font-family: "Comfortaa", cursive;
    }
}
