.home {
    text-align: center;
    margin: auto;
    .home-projects-header {
        border: 1px solid black;
    }
    .home-introduction {
        height: 35vh;
        .home-introduction-text {
            margin-bottom: 2rem;
            .home-introduction-header {
                margin-bottom: 2rem;
            }
        }
    }
    .project-slider-container {
        width: 100%;
        height: 50vh;
        text-align: center;
        .project-slider {
            height: 100%;
            margin: auto;
        }
    }
}
@media only screen and (max-width: 800px) {
    .home .home-introduction {
        margin-top: 2rem;
    }
}

@media only screen and (max-height: 600px) {
    .home .home-introduction {
        margin-bottom: 10%;
    }
}
