$light-blue: rgba(72, 199, 235, 1);
$dark-blue: #00a6d4;

.resource-link {
    color: $dark-blue;
    font-family: "Comfortaa", cursive;
    text-decoration: none;
    &:hover {
        color: $light-blue;
    }
}

.resource {
    margin-top: 30px;
}

.resource-img {
    border-radius: 2px;
    margin: 10px 0;
}
