$dark-grey: #23232e;
$darkest-grey: #1c1c24;
$light-grey: #f2f3f7;
$light-blue: #48c7eb;
$dark-blue: #00a6d4;

$lightest-blue: #76d5f0;
$box-shadow-white: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);

$box-shadow-white-hover: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);

.project {
    margin: 20px;
}

.project-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.project-logo-container {
    border-radius: 5%;
    padding: 5px;
    background-color: $light-grey;
    box-shadow: $box-shadow-white;
    margin: auto 10px auto 2px;
    cursor: pointer;
    .project-logo {
        width: auto;
        z-index: 0;
    }
    .play-icon-container {
        position: relative;
        width: 0;
        height: 0;
        .play-icon {
            transition: all 0.2s ease;
            z-index: 1;
            opacity: 0.6;
            position: absolute;
            font-size: 30px;
            margin: auto;
            color: $dark-grey;
        }
    }

    &:hover {
        .play-icon {
            opacity: 0.6;
        }
        box-shadow: $box-shadow-white-hover;
    }

    &:hover img {
        display: inline-block;
        transform: scale(0.98);
    }
}

.github-icon-container {
    margin: 0 2px 0 auto;
}

.github-icon {
    transition: all 0.2s ease;
    height: 30px;
    width: auto;
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
}

.project-header {
    a {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: color 0.2s ease;

        h3 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $dark-blue;
            transition: all 0.2s ease;
            &:hover {
                color: $light-blue;
            }
        }

        text-decoration: none;
        color: black;
    }
    display: flex;
    align-items: center;
    height: 70px;
}

.project-container {
    cursor: pointer;
    border-radius: 5%;
    padding: 20px;
    background-color: $light-grey;
    box-shadow: $box-shadow-white;
}

.project-container:hover {
    box-shadow: $box-shadow-white-hover;
}

@media only screen and (min-width: 600px) {
    .project-container:hover .pc {
        display: inline-block;
        transform: scale(0.98);
    }

    .project-header {
        width: 390px;
    }

    .project-container {
        width: 350px;
        height: 200px;
        .mobile {
            display: none;
        }
    }

    .project-logo-container .project-logo {
        height: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .project-container {
        width: 200px;
        height: 300px;
    }

    .project-container .project-image {
        display: none;
    }

    .project-container .mobile {
        display: block;
    }
    .project-header {
        width: 240px;

        h3 {
            font-size: 0.9rem;
        }
    }

    .project-container:hover .mobile {
        display: inline-block;
        transform: scale(0.98);
    }

    .project-logo-container .project-logo {
        height: 20px;
    }
}
