:root {
  font-size: 16px;
  font-family: "Roboto";
}

* {
  font-family: "Roboto";
}

*:focus {
  outline: none;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: #f2f3f7;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: #48c7eb;
  border-radius: 3px;
}

body .background-svg {
  position: relative;
}

body .top-background {
  position: fixed;
  z-index: -2;
}

body .middle-background {
  position: fixed;
  z-index: -3;
}

body .bottom-background {
  position: fixed;
  z-index: -4;
}

.page-container {
  max-width: 1800px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

h1 {
  text-transform: capitalize;
  letter-spacing: 0.7px;
  font-weight: 300;
  font-size: 2.5rem;
}

h3,
h4 {
  font-weight: 400;
  letter-spacing: 0.6px;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.back {
  margin-left: 20%;
}

.title {
  line-height: 15vh;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.link-container {
  height: 5vh;
  font-family: "Comfortaa", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.link-container .link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00a6d4;
}

.link-container .link:hover {
  color: #48c7eb;
}

@media only screen and (min-width: 600px) {
  main {
    margin-left: 5rem;
  }
  .background-container {
    margin-left: 5rem;
  }
  .background-svg {
    width: 95%;
  }
}

@media only screen and (min-width: 600px) {
  .background-svg {
    width: 87%;
    height: 4800px;
  }
  .title {
    margin-left: 20%;
  }
}

@media only screen and (min-width: 800px) {
  .background-svg {
    width: 90%;
    height: 5800px;
  }
  .title {
    margin-left: 20%;
  }
}

@media only screen and (min-width: 1000px) {
  .background-svg {
    width: 93%;
    height: 6800px;
  }
}

@media only screen and (min-width: 1200px) {
  .background-svg {
    width: 95%;
    height: 7800px;
  }
}

@media only screen and (min-width: 1400px) {
  .background-svg {
    width: 96%;
  }
}

@media only screen and (max-width: 600px) {
  body main {
    margin-bottom: 5rem;
  }
  .background-svg {
    width: 100%;
    height: 4800px;
  }
  .title {
    margin-left: 20%;
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 5vh;
  }
}

@media only screen and (max-width: 800px) {
  .title {
    margin-left: 20%;
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 5vh;
  }
}
/*# sourceMappingURL=App.css.map */