$light-blue: rgba(72, 199, 235, 1);
$white: rgba(255, 255, 255, 1);
$light-orange: rgba(255, 238, 224, 1);
$light-grey: #f2f3f7;
$dark-grey: #23232e;
$darkest-grey: #1c1c24;
$dark-blue: #00a6d4;
$light-blue: rgba(72, 199, 235, 1);
$white: rgba(255, 255, 255, 1);
$light-grey: #f2f3f7;
$dark-grey: #23232e;
$darkest-grey: #1c1c24;
$dark-blue: #00a6d4;
$background-color: $light-grey;
